<div>

	<%= render partial: "errors", layout: false, locals: {resource: @profile }%>

	<%= form_for ([current_user, @profile]) do |f| %>
	  Full name : <%= f.text_field :full_name %><br />
	  Short bio : <%= f.text_area :bio %><br />
	  Affiliation : <%= f.text_area :affiliation %><br />
	  <%= f.submit %>
	<% end %>

</div>