<%= render partial: '/errors', layout: false, locals: { resource: comment } %>
<div class="comment col-sm-8 col-xs-10" id="comment-<%= comment.id %>">
<% if comment.good_comment? %>
  <p><%= comment.content %> <%= link_to "#{comment.user.username}", user_path(comment.user) %></p>
<% else %>
  <p class="bad-comment"><%= comment.content %> <%= link_to "#{comment.user.username}", user_path(comment.user) %></p>
  <p class="text-danger bad-comment-warning">This comment has been hidden due to negative votes. Click <%= link_to "here", remote: true %> to show.</p>
<% end %>

<p><span class="vote-total-<%= comment.id %>">Vote total: <%= comment.vote_count %></span>
<% if current_user %>
  <%= link_to image_tag("upvote.png"), upvote_comment_path(comment), class: "upvote-button", method: :post, remote: true %>
  <%= link_to image_tag("downvote.png"), downvote_comment_path(comment), class: "downvote-button", method: :post, remote: true %>
<% end %>
</p>
</div>
