<!-- In progress, needs to be edited -->

<div class="enter-site">
  <h2>Log in</h2>

  <%= form_for(@user, url: new_user_session_path(@user) ) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "users/shared/links" %>
  </div>
</div>
