<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 col-md-1">
			<%= image_tag avatar_url(@user) %>
		</div>
		<div class="col-xs-9 col-md-9">
			<p class="h2 profile-header"><%= @user.username %></p>
			<% if @profile %>
				<!-- Follow/Unfollow Button for Logged-In Users -->
				<% if user_signed_in?  && !owner?(@profile.user_id) && !current_user.follows?(@profile.user_id) %>
					<%= render partial: "followings/follow", layout: false, locals: { resource: @profile } %>
				<% elsif user_signed_in? && !owner?(@profile.user_id) %>
	        <%= render partial: "followings/unfollow", layout: false, locals: { resource: @profile } %>
				<% end %>

				<!-- Profile Editing Buttons -->
			  <% if owner?(@profile.user_id) %>
					<p><%= link_to "Edit profile", edit_user_profile_path(@user, @user.profile), :class => "btn btn-primary edit-profile" %>
					 <%= link_to "Edit account info", edit_user_registration_path, :class => "btn btn-primary edit-profile" %>
					<% if @user.reviewer? || @user.admin? %>
							<%= link_to "Create New Article", new_article_path, :class => "btn btn-success edit-profile" %>
					<% end %>
					</p>
				<% end %>

				<!-- Article creation button for reviewers -->
			<% end %>


			<% if @profile %>
				<%= render partial: "profiles/show", layout: false, locals: {profile: @profile } %>
			<% elsif current_user && (current_user.id == params[:id].to_i) %>
				<li>
				  <%= link_to'Create profile', new_user_profile_path(current_user), :class => "btn btn-primary " %>
			  </li>
			<% end %>
		</div>
	</div>

	<% if @user.reviewer? || @user.admin? %>
		<div class="row">
			<div class="col-xs-12">
				<% unless @user.reviews.empty? %>
					<h3>Reviews:</h3>
						<ul>
						<% @user.reviews.each do |review| %>
							<li><%= link_to "#{review.title}", restaurant_review_path(review.restaurant, review), :class => "text-capitalize" %>
								<% if current_user && (current_user.id == params[:id].to_i) %>
									<%= link_to "Edit review", edit_restaurant_review_path(review.restaurant, review), :class => "btn btn-primary btn-xs" %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<% unless @user.articles.empty? %>
					<h3>Articles:</h3>
						<ul>
						<% @user.articles.each do |article| %>
							<li><%= link_to "#{article.title}", article_path(article), :class => "text-capitalize" %>
								<% if current_user && (current_user.id == params[:id].to_i) %>
									<%= link_to "Edit article", edit_article_path(article), :class => "btn btn-primary btn-xs" %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<% unless @user.followers.empty? %>
					<h3>Followed By:</h3>
						<% @user.followers.each do |follower| %>
							<div class="col-xs-2 col-sm-1">
							<%= link_to image_tag(avatar_url(follower), alt: follower.username), user_path(follower) %>
							</div>
						<% end %>
				<% end %>
			</div>
		</div>

	<% end %>

	<div class="row">
		<div class="col-xs-12">
			<% unless @user.followed_users.empty? %>
				<h3>Followed Users:</h3>
					<% @user.followed_users.each do |followed_user| %>
						<div class="col-xs-2 col-sm-1">
							<%= link_to image_tag(avatar_url(followed_user), alt: followed_user.username), user_path(followed_user) %>

						</div>
					<% end %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<% unless @user.visited_restaurants.empty? %>
				<h3>Visited Restaurants:</h3>
					<ul>
					<% @user.visited_restaurants.each do |visited_restaurant| %>
						<li><%= link_to "#{visited_restaurant.name}", restaurant_path(visited_restaurant) %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

		<div class="row">
		<div class="col-xs-12">
			<% unless @user.bookmarked_restaurants.empty? %>
				<h3>Bookmarked Restaurants:</h3>
					<ul>
					<% @user.bookmarked_restaurants.each do |bookmarked_restaurant| %>
						<li><%= link_to "#{bookmarked_restaurant.name}", restaurant_path(bookmarked_restaurant) %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

</div>
