<div>
	<div>
		<h2> <% if @profile %> <%= @user.username || @user.email %>'s
		<% else %>
		<%= @user.username %>'s
		<% end %>
		profile page</h2>
		<img src="<%= @user.show_gravatar %>" alt="<%= @user.username %>">
	</div>
<!-- if there is a profile, show it -->
	<% if @profile %>
		<%= render partial: "profiles/show", layout: false, locals: {profile: @profile } %>

		<!-- if the current user owns that profile, display links for edit and destroy -->
    <% puts "profile: #{@profile}" %>
    <% puts "\n\n @user: #{@user}" %>
	  <% if owner?(@profile.id) %>
	  	<div>
	  	<li>
				<%= link_to("Edit profile information", edit_user_profile_path(@user.id, @profile.id) )%>
			</li>
		  <li>
			  <%= link_to('Edit account information', edit_user_registration_path) %>
		  </li>
		</div>

		<!-- if not owner, but the profile exists, display follow/unfollow button -->
		<% else %>

			<!-- if user doesn't follow, show button for unfollow -->
			<% if user_signed_in?  && !owner?(@profile.id) && !current_user.follows?(@profile.user_id) %>
				<%= render partial: "followings/follow", layout: false, locals: { resource: @profile } %>

			<!-- if user already follows, show button for unfollow -->
			<% elsif user_signed_in? %>
        <%= render partial: "followings/unfollow", layout: false, locals: { resource: @profile } %>
			<% end %>

		<% end %>

	<!-- if current user does not have a profile, provide link to create one -->
	<% elsif current_user.id == params[:id].to_i %>
	<div>
		<li>
		  <%= link_to('Create profile', new_user_profile_path(current_user)) %>
	  </li>
	</div>

	<% end %>


<!--


<br> <br> <br>
<% if @profile %>
<h4> not working, being processed as post requests </h4>
	  	<li>
				<%= button_to("Edit profile information", formaction: edit_user_profile_path(@user.id, @profile.id), :class => "button", method: :get) %>
			</li>
		  <li>
			  <%= button_to('Edit account information', formaction:edit_user_registration_path, :class => "button", method: :get) %>
		  </li>
<% end %>
-->
