<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 col-md-1">
			<img src="<%= @user.show_gravatar %>" alt="<%= @user.username %>" class="img-responsive">
		</div>
		<div class="col-xs-9 col-md-9">
			<p class="h2 profile-header"><%= @user.username %></p>
			<% if @profile %>
				<!-- Follow/Unfollow Button for Logged-In Users -->
				<% if user_signed_in?  && !owner?(@profile.user_id) && !current_user.follows?(@profile.user_id) %>
					<%= render partial: "followings/follow", layout: false, locals: { resource: @profile } %>
				<% elsif user_signed_in? && !owner?(@profile.user_id) %>
	        <%= render partial: "followings/unfollow", layout: false, locals: { resource: @profile } %>
				<% end %>

				<!-- Profile Editing Buttons -->
			  <% if owner?(@profile.id) %>
					<p><%= link_to "Edit profile", edit_user_profile_path(@user, @user.profile), :class => "btn btn-primary edit-profile" %>
					 <%= link_to "Edit account info", edit_user_registration_path, :class => "btn btn-primary edit-profile" %>
					<% if @user.reviewer? || @user.admin? %>
							<%= link_to "Create New Article", new_article_path, :class => "btn btn-success edit-profile" %>
					<% end %>
					</p>
				<% end %>

				<!-- Article creation button for reviewers -->
			<% end %>


			<% if @profile %>
				<%= render partial: "profiles/show", layout: false, locals: {profile: @profile } %>
			<% elsif current_user.id == params[:id].to_i %>
				<li>
				  <%= link_to'Create profile', new_user_profile_path(current_user), :class => "btn btn-primary " %>
			  </li>
			<% end %>
		</div>
	</div>

	<% if @user.reviewer? || @user.admin? %>
		<div class="row">
			<div class="col-xs-12">
				<% if @user.reviews.length > 0 %>
					<h3>Reviews:</h3>
						<ul>
						<% @user.reviews.each do |review| %>
							<li><%= link_to "#{review.title}", restaurant_review_path(review.restaurant, review) %></li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<% if @user.articles.length > 0 %>
					<h3>Articles:</h3>
						<ul>
						<% @user.articles.each do |article| %>
							<li><%= link_to "#{article.title}", article_path(article) %></li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<% if @user.followers.length > 0 %>
					<h3>Followed By:</h3>
						<% @user.followers.each do |follower| %>
							<div class="col-xs-2 col-sm-1">
							<a href="<%= user_path(follower) %>"><img src="<%= follower.show_gravatar %>" alt="<%= follower.username %>" class="img-responsive gravatar-row" title="<%= follower.username %>"></a>
							</div>
						<% end %>
				<% end %>
			</div>
		</div>

	<% end %>

	<div class="row">
		<div class="col-xs-12">
			<% if @user.followed_users.length > 0 %>
				<h3>Followed Users:</h3>
					<% @user.followed_users.each do |followed_user| %>
						<div class="col-xs-2 col-sm-1">
						<a href="<%= user_path(followed_user) %>"><img src="<%= followed_user.show_gravatar %>" alt="<%= followed_user.username %>" class="img-responsive gravatar-row" title="<%= followed_user.username %>"></a>
						</div>
					<% end %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<% if @user.visited_restaurants.length > 0 %>
				<h3>Visited Restaurants:</h3>
					<ul>
					<% @user.visited_restaurants.each do |visited_restaurant| %>
						<li><%= visited_restaurant.name %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

		<div class="row">
		<div class="col-xs-12">
			<% if @user.bookmarked_restaurants.length > 0 %>
				<h3>Bookmarked Restaurants:</h3>
					<ul>
					<% @user.bookmarked_restaurants.each do |bookmarked_restaurant| %>
						<li><%= bookmarked_restaurant.name %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

</div>
