<% if user_signed_in? %>

<!-- show users profile information -->
	<%= render "profiles/_show", layout: false, locals: {profile: @profile}%>

  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <!-- link to destroy registration -->
<% else %>
  <li>
	  <%= link_to('Register', new_user_registration_path)  %>
  </li>

<% end %>