<div class="container">
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <h1>Top-Rated Foodie Reviewers</h1>
    </div>
  </div>

  <table>
  <% @top_reviewers.each_with_index do |top_reviewer, index| %>
    <tr>
      <td class="col-sm-1 col-sm-offset-1 col-xs-2 reviewer-icon">
        <%= image_tag avatar_url(top_reviewer), class: "img-responsive reviewer-avatar" %>
      </td>

  <!-- Mobile display -->
      <td class="col-xs-1 reviewer-rank">
        <h2><%= "#{index + 1}." %></h2>
      </td>
      <td class="col-xs-9">
        <h2 class="header-link"><%= link_to "#{top_reviewer.username}", user_path(top_reviewer) %>
          <span><%= render partial: "reputation", locals: { user: top_reviewer } %></span>
        </h2>

        <p><%= top_reviewer.reviews.count %> total reviews.<p>
        <p>Read their review of the restaurant <%= link_to "#{top_reviewer.reviews.last.restaurant.name}", restaurant_path(top_reviewer.reviews.last.restaurant) %> by clicking <%= link_to "here", restaurant_review_path(top_reviewer.reviews.last.restaurant, top_reviewer.reviews.last) %>.</p>
        <p>Or visit their <%= link_to "profile", user_path(top_reviewer) %> to see all their reviews.</p>
      </td>
    </tr>
  <% end %>
  </table>
</div>
