<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-xs-12 faux-panel" id="featured-restaurant">
      <h2>Restaurant of the Day</h2>
      <div class="faux-panel-body">
        <h3 class="header-link"><%= link_to "#{@restaurant.name}", restaurant_path(@restaurant) %></h3>
        <div id="featured-restaurant-body">
          <p>This <%= @restaurant.cuisine %> eatery located in the trendy Chicago neighborhood <%= @restaurant.neighborhood %> offers delectable dishes and scores a <%= @restaurant.vegan_friendliness %> out of 5 on the vegan friendliness scale.</p>

          <p>Read foodie reviews of <%= @restaurant.name %>, see recommended dishes, and much more by checking our <%= link_to "#{@restaurant.name} page", restaurant_path(@restaurant) %>.</p>

          <p>Bon appetit!</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 hidden-xs">
      <p>Click on a Chicago neighborhood to see its foodie-approved restaurants.</p>
      <p id="neighborhood"></p>
      <%= inline_svg("neighborhoods.html.erb") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12 faux-panel" id="featured-review">
      <h2>Featured Review</h2>
      <div class="faux-panel-body">
        <h3 class="header-link text-capitalize"><%= link_to "#{@review.title}", restaurant_review_path(@review.restaurant, @review) %></h3>
        <p><strong>Review of <%= link_to "#{@review.restaurant.name}", restaurant_path(@review.restaurant) %> composed by <%= link_to "#{@review.reviewer.username}", user_path(@review.reviewer) %></strong></p>
        <p><%= @review.get_preview %>
          <%= link_to "read more...", restaurant_review_path(@review.restaurant, @review) %></p>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 faux-panel" id="featured-article">
      <h2>Featured Article</h2>
      <div class="faux-panel-body">
        <h3 class="header-link text-capitalize"><%= link_to "#{@article.title}", article_path(@article) %></h3>
        <p><strong>Penned with love by <%= link_to "#{@article.author.username}", user_path(@article.author) %></strong></p>
        <p><%= @article.get_preview %>
          <%= link_to "read more...", article_path(@article) %></p>
      </div>
    </div>

</div>
