<%= stylesheet_link_tag "splash" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:400,700" %>

<div class="overlay">
	<div class="overlay-menu">	
		<%= image_tag "foodie_color.png", id: "foodie" %>
		<div class="words">
			<h2>A new site for Chicago food lovers</h2>
			<ul>
				<li>Curated restaurant reviews</li>
				<li>Articles by top chefs and critics</li>
				<li>Dish recommendations</li>
			</ul>

		<div class="access-buttons">
	    <%= button_to("SIGN UP!", new_user_registration_path, :method => :get) %>
	    <%= button_to("Enter Site", welcome_index_path, :method => :get) %>
		</div>
	</div>
</div>
