
<% type = @filter_option %>
<% type = "name" if @filter_option == nil %>

<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <%= paginate(@restaurants) %>
  </div>
</div>

<% @restaurants.each do |restaurant|%>

  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 restaurant">
      <h1 class="profile-header header-link restaurant-name"><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %><div class="restaurant-score btn"><strong><%= restaurant.aggregate_score %></strong></h1>
      <p class="restaurant-cuisine">Cuisine: <%= restaurant.cuisine %><p>
      <p class="restaurant-neighborhood"><% if restaurant.neighborhood %>Neighborhood: <%= restaurant.neighborhood %><% end %></p>
      <hr />
    </div>
  </div>

<% end %>

<%= "No results found." if @restaurants.empty? %>

<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <%= paginate(@restaurants) %>
  </div>
</div>
