
<% type = @filter_option %>
<% type = "name" if @filter_option == nil %>

<%= paginate(@restaurants) %>

<% @restaurants.each do |restaurant|%>
  <div class="restaurant">
    <h1 class="restaurant-name"><%= link_to restaurant.name, restaurant %></h1>
    <p class="restaurant-cuisine">Cuisine: <%= restaurant.cuisine %></p>
    <p class="restaurant-neighborhood">Neighborhood: <%= restaurant.neighborhood %></p>
    <p class="restaurant-score">Score: <%= restaurant.score %></p>
    <p class="restaurant-distance">Distance: <%= restaurant.distance %> mi</p>
  </div>
<% end %>

<%= "No results found." if @restaurants.empty? %>

<%= paginate(@restaurants) %>
