<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
      <h1>Restaurant Results</h1>
      <%= link_to 'Sort by Score', {controller: 'restaurants', action: 'filter' ,remote: true, type: 'score', search: params[:search], lat_data: params[:lat_data], long_data: params[:long_data]}, {class: "btn btn-default"} %>
      <%= link_to 'Sort by Proximity', {controller: 'restaurants', action: 'filter' ,remote: true, type: 'distance', search: params[:search], lat_data: params[:lat_data], long_data: params[:long_data]}, {class: "btn btn-default"} %>
      <%= link_to 'Sort by Name', {controller: 'restaurants', action: 'filter' ,remote: true, type: 'name', search: params[:search], lat_data: params[:lat_data], long_data: params[:long_data]}, {class: "btn btn-default"} %>
      <%= link_to 'Sort by Neighborhood', {controller: 'restaurants', action: 'filter' ,remote: true, type: 'neighborhood', search: params[:search], lat_data: params[:lat_data], long_data: params[:long_data]}, {class: "btn btn-default"} %>
      <%= link_to 'Sort by Cuisine', {controller: 'restaurants', action: 'filter' ,remote: true, type: 'cuisine', search: params[:search], lat_data: params[:lat_data], long_data: params[:long_data]} , {class: "btn btn-default"}  %>
      <div id="restaurants">
        <%= render "restaurants" %>
      </div>
    </div>
  </div>
</div>


