<%= javascript_include_tag "googlemaps" %>
<%= stylesheet_link_tag 'googlemaps' %>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>

<div class="container">
  <div class="row">

    <!-- Name (and Desktop Score) -->
    <div class="col-xs-12 col-md-6">
      <h1 class="profile-header"><strong><%= @restaurant.name %></strong><div class="restaurant-score btn hidden-xs hidden-sm"><strong><%= @restaurant.aggregate_score %></strong></h1>
    </div> <!-- end name (and desktop score) -->

    <!-- desktop only map -->
    <div class="col-md-6 hidden-xs hidden-sm map-box">
      <div id="map"></div>
      <div id="map-directions-form">
        <form id="calculate-route" name="calculate-route" action="#" method="get">
          <label for="from">From: </label>
          <input type="text" id="from" name="from" required="required" placeholder="Address..." size="25" />
          or <a id="from-link" href="#">Get my position</a>
          <input type="submit" />
        </form>
        <p id="error"></p>
      </div>
    </div> <!-- end desktop map -->

    <!-- mobile score -->
    <div class="col-xs-12 hidden-md hidden-lg">
      Foodie Score: <div class="restaurant-score btn"><strong><%= @restaurant.aggregate_score %></strong></div>
    </div> <!-- end mobile score -->
  </div>

    <!-- Start of column to left of map-->
    <div class="col-xs-12 col-md-6 restaurant-info-column">
      <div class="user-interaction-buttons">
        <% if current_user && (current_user.reviewer? || current_user.admin?) %>
          <% if current_user.reviewed_restaurants.include?(@restaurant) %>
            <%= link_to "Update Review", edit_restaurant_review_path(@restaurant, current_user.reviews.find_by(restaurant_id: @restaurant.id)), class: "btn btn-default" %>
          <% else %>
            <%= link_to "Compose Review", new_restaurant_review_path(@restaurant), class: "btn btn-default" %>
          <% end %>
          <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: "btn btn-default" %>
        <% end %>
      </div>

      <% if current_user && current_user.user? && !current_user.already_quick_took?(@restaurant) %>
        <span class="rate-invitation">Been to <%= @restaurant.name %>?</span>
        <%= link_to "Rate it.", new_restaurant_quick_take_path(@restaurant), class: "quick-take-link", method: "get", remote: true %>
      <% elsif current_user && current_user.user? && current_user.already_quick_took?(@restaurant) %>
        <% user_quick_take = QuickTake.find_by(rater_id: current_user.id, restaurant_id: @restaurant.id) %>
        <p>You gave this restaurant a <%= user_quick_take.rating %> out of 5 on <%= user_quick_take.created_at.strftime("%m/%d/%y") %>.</p>
      <% end %>
      <div class="quick-take-form" style="display:none"></div>

      <div class="user-interaction-buttons">
        <% if user_signed_in? && current_user.has_bookmarked?(@restaurant.id) %>
          <%= render partial: "bookmarks/unbookmark", locals: { restaurant: @restaurant }%>
        <% elsif user_signed_in? %>
          <%= render partial: "bookmarks/bookmark", locals: { restaurant: @restaurant }%>
        <% end %>

        <% if user_signed_in? && current_user.has_visited?(@restaurant.id) %>
          <%= render partial: "visits/visited", locals: { restaurant: @restaurant }%>
        <% elsif user_signed_in? %>
          <%= render partial: "visits/visit", locals: { restaurant: @restaurant }%>
        <% end %>
      </div>

      <!-- Desktop: Address and Other Info -->
      <div class="hidden-xs hidden-sm">
        <span id="street-address"><%= @restaurant.street_address %></span><br/>
        <span id="csz-address"><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></span>
        <p><% if @restaurant.phone_number %><%= @restaurant.phone_number %><% end %></p>
        <p><% if @restaurant.neighborhood %>Neighborhood: <%= @restaurant.neighborhood %><% end %></p>
        <p>Nearest 'L': <% if @restaurant.nearest_l %><%= @restaurant.nearest_l %><% end %></p>
      </div> <!-- end Desktop only -->

      <!-- Cuisine, Price, Vegan Rating -->
      <h4 class="profile-header">Cuisine: </h4><span> <%= @restaurant.cuisine %></span><br/>
      <h4 class="profile-header">Price range: </h4><span> <%= @restaurant.price_scale %></span><br/>
      <h4 class="profile-header">Vegan friendliness: </h4><span> <%= @restaurant.vegan_friendliness || "Unknown" %></span><br/>
      <!-- end cuisine, price, vegan rating -->

      <!-- Mobile: Specialties -->
      <div class="hidden-md hidden-lg">
        <% unless @restaurant.specialties.empty? %>
          <div class="specialties-container">
            <h4>Specialties</h4>
              <div class="top-specialties-list">
                <%= render partial: @specialties %>
              </div>

              <%= link_to "Show all specialties/add a dish", root_path, remote: true, :class => "btn btn-default specialties-toggle" %>

              <div id="rest-of-specialties" style="display:none"><%= render partial: "specialties/all_specialties", locals: {specialties: @rest_of_specialties} %> </div>
              <p><%= flash[:alert] %> </p>
              <!-- restaurant_specialties_path(@restaurant, @specialties) -->
              <%= render partial: "specialties/form", locals: {specialty: @new_specialty, restaurant: @restaurant} %>
          </div>
        <% end %>
      </div>

      <!-- mobile map -->
      <div id="mobile-map" class="hidden-md hidden-lg"></div>

      <!-- Mobile version of "get directions" - AJAX redirect call -->
      <div class="hidden-md hidden-lg">
        <p><a href="" id="get-directions">Find directions</a></p>
      </div>

      <!-- Mobile: Address and Contact Info, Additional Info -->
      <div class="hidden-md hidden-lg">
        <span id="street-address"><%= @restaurant.street_address %></span><br/>
        <span id="csz-address"><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></span>
        <% if @restaurant.phone_number %><p><%= @restaurant.phone_number %></p><% end %>
        <p><% if @restaurant.neighborhood %>Neighborhood: <%= @restaurant.neighborhood %><br /><% end %>
        <% if @restaurant.nearest_l %>Nearest 'L': <%= @restaurant.nearest_l %><% end %></p>
          <% if @restaurant.website %>
            <p>Website: <%= link_to "#{@restaurant.website}" %></p>
          <% end %>

          <% if @restaurant.menu_url %>
            <p>Menu URL: <%= link_to "#{@restaurant.menu_url}" %></p>
          <% end %>

      <!-- Mobile: Atmosphere and Dress Code -->
        <% if @restaurant.atmosphere %>
          <p>Atmosphere: <%= @restaurant.atmosphere %></p>
        <% end %>

        <% if @restaurant.dress_code %>
          <p>Dress Code: <%= @restaurant.dress_code %></p>
        <% end %>

      <!-- Mobile: Boolean Values -->
        <% unless @restaurant.patios.nil? %>
          <p><span class="restaurant-boolean">Has Patio?</span><strong><%= humanize_boolean(@restaurant.patios) %></strong></p>
        <% end %>

        <% unless @restaurant.reservations.nil? %>
          <p><span class="restaurant-boolean">Reservations?</span><strong><%= humanize_boolean(@restaurant.reservations) %></strong></p>
        <% end %>

        <% unless @restaurant.delivery.nil? %>
          <p><span class="restaurant-boolean">Delivery?</span><strong><%= humanize_boolean(@restaurant.delivery) %></strong></p>
        <% end %> <!-- end booleans -->

      <!-- Mobile Only Tags -->
        <div class="hidden-md hidden-lg">
          <% unless @restaurant.tags.empty? %>
              <p><strong>Tagged with:</strong></p>
              <p><%= @restaurant.tags_for_mobile %></p>
          <% end %> <!-- end mobile-only tags -->
        </div>
      </div> <!-- end mobile-only info -->
    </div> <!-- end container for part next to map on desktop -->
  </div>

  <!-- Desktop area for Specialties, Tags, and Other Info -->
<div class="container">
  <div class="row hidden-xs hidden-sm">
    <hr />
    <div class="col-md-4">
      <h4>Specialties</h4>
      <% unless @restaurant.specialties.empty? %>
        <div class="specialties-container">
            <div class="top-specialties-list">
              <%= render partial: @specialties %>
            </div>

            <%= link_to "Show all specialties/add a dish", root_path, remote: true, :class => "btn btn-default specialties-toggle" %>

            <div class="rest-of-specialties" style="display:none"><%= render partial: "specialties/all_specialties", locals: {specialties: @rest_of_specialties} %> </div>
            <p><%= flash[:alert] %> </p>
            <!-- restaurant_specialties_path(@restaurant, @specialties) -->
            <% if current_user %>
              <%= render partial: "specialties/form", locals: {specialty: @new_specialty, restaurant: @restaurant} %>
            <% else %>
              <p>You're not logged in.  You'll have to <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>
                if you want to add a dish.</p>
            <% end %>
        </div>
      <% else %>
        <p>No dishes listed. Add the first!</p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h4>Tagged with:</h4>
      <% unless @restaurant.tags.empty? %>
        <% @restaurant.tags_for_desktop.each do |tag| %>
          <p><%= tag %></p>
        <% end %>
      <% else %>
        <p>No tags currently applied.</p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h4>Other information:</h4>
      <% if @restaurant.atmosphere %>
          <p>Atmosphere: <%= @restaurant.atmosphere %></p>
        <% end %>

        <% if @restaurant.dress_code %>
          <p>Dress Code: <%= @restaurant.dress_code %></p>
        <% end %>

      <!-- Mobile: Boolean Values -->
        <% unless @restaurant.patios.nil? %>
          <p><span class="restaurant-boolean">Has Patio?</span><strong><%= humanize_boolean(@restaurant.patios) %></strong></p>
        <% end %>

        <% unless @restaurant.reservations.nil? %>
          <p><span class="restaurant-boolean">Reservations?</span><strong><%= humanize_boolean(@restaurant.reservations) %></strong></p>
        <% end %>

        <% unless @restaurant.delivery.nil? %>
          <p><span class="restaurant-boolean">Delivery?</span><strong><%= humanize_boolean(@restaurant.delivery) %></strong></p>
        <% end %> <!-- end booleans -->
    </div>

  </div> <!-- end of row below the fold for desktop -->
  <hr />

</div> <!-- end of container for restaurant -->


<div class="container">
  <% unless @reviews.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <h1>Reviews for <%= @restaurant.name %></h1>
      <hr>
    </div>
  </div>
    <%= render @reviews %>
  <% end %>
</div>
