<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    <h1><%= @restaurant.name %></h1>
    <div class="restaurant-info">
      <h4>Restaurant Info</h4>
      <ul style="list-style: none">
        <li>Cuisine: <%= @restaurant.cuisine %></li>
        <li>Address:
          <ul style="list-style: none">
            <li><%= @restaurant.street_address %></li>
            <li><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></li>
          </ul>
        </li>
        <li>Phone Number: <%= @restaurant.phone_number %></li>
        <li>Neighborhood: <%= @restaurant.neighborhood %></li>
        <li>Price Scale: <%= @restaurant.price_scale %></li>

      </ul>
      <div class="specialties-container">
        <h4> Specialties </h4>
        <div class="specialties-list"> <%= render partial: @specialties %> </div>

        <!-- when ajaxing for show all, just listen for a click and then change display to show all.  -->
        <div id="all-specialties" style="display:none"><%= render partial: "specialties/all_specialties", locals: {specialties: @all_specialties} %> </div>
        <hr>  
          <%= link_to "Show all specialties", root_path, remote: true, :class => "btn btn-default specialties-toggle" %>
          <!-- restaurant_specialties_path(@restaurant, @specialties) -->
        <p><%= flash[:alert] %> </p>
        <%= render partial: "specialties/form", id:"specialties-form", locals: {specialty: @new_specialty, restaurant: @restaurant} %>
        <hr>
      </div>



      <h1>Reviews for <%= @restaurant.name %></h1>
      <hr>
      <%= render @reviews %>


    </div>
    </div>
  </div>
</div>
