<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
<style type="text/css">
    #map_wrapper {
        height: 400px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }
</style>

<script type="text/javascript">
    jQuery(function($) {
        // Asynchronously Load the map API
        var script = document.createElement('script');
        script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
        document.body.appendChild(script);
    });

    function initialize() {
        var map;
        // Set the latitude & longitude for our location (London Eye)
        var myLatlng = new google.maps.LatLng(41.8896967,-87.6376920);
        var mapOptions = {
            center: myLatlng, // Set our point as the centre location
            zoom: 14, // Set the zoom level
            mapTypeId: 'roadmap' // set the default map type
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        // Allow our satellite view have a tilted display (This only works for certain locations)
        map.setTilt(45);

        // Add a marker to the map based on our coordinates
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'London Eye, London'
        });
     }
</script>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    <h1><%= @restaurant.name %></h1>
    <div class="restaurant-info">
      <h4>Restaurant Info</h4>
      <ul style="list-style: none">
        <li>Cuisine: <%= @restaurant.cuisine %></li>
        <li>Address:
          <ul style="list-style: none">
            <li><%= @restaurant.street_address %></li>
            <li><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></li>
          </ul>
        </li>
        <li>Phone Number: <%= @restaurant.phone_number %></li>
        <li>Neighborhood: <%= @restaurant.neighborhood %></li>
        <li>Price Scale: <%= @restaurant.price_scale %></li>

      </ul>
      <p><%= @restaurant.name %> has an aggergated score of <strong><%= @restaurant.aggregate_score %></strong></p>
      <div class="specialties-container">
        <h4> Specialties </h4>
        <div class="specialties-list"> <%= render partial: @specialties %>

        <%= render partial: "specialties/form", locals: {restaurant: @restaurant} %>

        <!-- when ajaxing for show all, just listen for a click and then change display to show all.  -->
        <div id="all-specialties" style="display:none"><%= render partial: "specialties/all_specialties", locals: {specialties: @all_specialties} %> </div>
      </div>



      <h1>Reviews for <%= @restaurant.name %></h1>
      <hr>
      <%= render @reviews %>


    </div>
    </div>
  </div>
</div>
