<h1>Reviews for <%= @restaurant.name %></h1>
<hr>

<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <h4>Written by: <%= review.reviewer.email %></h4>
  <h4>Rating: <%= review.rating %></h4>
  <p><%= review.content %></p>
  <hr>
<% end %>
