<%= stylesheet_link_tag "social-media-buttons" %>
<div class="enter-site">
  <h2>Sign up</h2>
  <%= form_for(@user, url: "/users/sign_up") do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :username %> <%if virtual_sign_in?%> <i> Required for new accounts </i> <% end %>
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %> <%if virtual_sign_in?%> <i> Required for new accounts </i> <% end %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%if virtual_sign_in?%>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Optional for virtual sign in" %>
      <% else %>
        <%= f.password_field :password, autocomplete: "off" %>
     <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="social-media-buttons">
    <%= link_to image_tag("facebook_login.png"), "/users/auth/facebook", :class => "social-media-button" %>
    <%= link_to image_tag("instagram_login.png"), "/users/auth/instagram", :class => "social-media-button" %>
    <%= link_to image_tag("twitter_login.png"), "/users/auth/twitter", :class => "social-media-button" %>
  </div>
  <div class="links">
    <%= render "users/shared/links" %>
  </div>
</div>
